Repository softeerbootcamp-2nd/A4-FourEver, pull requests merged in 2023-08, with the labels that each got.

#89 Be/feat30 기본 API 구현
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/domain/Car.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/dto/CarInfoDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/dto/CarMapper.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/repository/CarRepository.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/color/exColor/domain/ExColor.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/color/inColor/domain/InColor.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/model/api/ModelController.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/model/application/ModelService.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/model/domain/Model.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/model/dto/ModelMapper.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/model/dto/ModelOptionInfoSortedDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/model/repository/ModelRepository.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/option/defaultOption/domain/DefaultOption.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/option/defaultOption/dto/DefaultOptionInfoDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/option/extraOption/domain/ExtraOption.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/option/extraOption/dto/ExtraOptionInfoDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/option/extraOption/dto/ExtraOptionInfoSortedDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/option/extraSubOption/domain/SubExtraOption.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/option/extraSubOption/dto/SubExtraOptionInfoDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/tag/exColorTag/domain/ExColorTag.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/tag/extraOptionTag/domain/ExtraOptionTag.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/tag/extraOptionTag/dto/ExtraOptionTagInfoDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/tag/inColorTag/domain/InColorTag.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/trim/body/domain/Body.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/trim/body/dto/BodyInfoDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/trim/drive/domain/Drive.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/trim/drive/dto/DriveInfoDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/trim/engine/domain/Engine.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/trim/engine/dto/EngineInfoDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/trim/trim/domain/Trim.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/trim/trim/dto/TrimInfoDTO.java
Labels: 🌟 Enhancement, ⚙️ Backend

#90 Be/feat30 기본 API 구현
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/api/CarController.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/application/CarService.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/dto/CarInfoDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/dto/CarMapper.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/exception/CarNotFoundException.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/repository/CarRepository.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/model/api/ModelController.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/trim/trim/api/TrimController.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/trim/trim/domain/Trim.java
Labels: 🌟 Enhancement, ⚙️ Backend, fixed

#122 [fix] 내차만들기/견적요약모달 버그 수정
  FrontEnd/my-car/src/mycar/components/common/SummaryModal.js
Labels: 🎨 Frontend, fixed

#124 [fix] 내차만들기 페이지 이동 버그 수정
  FrontEnd/my-car/src/mycar/Mycar.js
Labels: 🚨 Bug, 🎨 Frontend

#125 [feat] 내차만들기/완성페이지 스크롤 방지
  FrontEnd/my-car/src/common/Alert.js
  FrontEnd/my-car/src/mycar/components/completePage/AnimationMovingCar.js
  FrontEnd/my-car/src/style/globalStyle.js
Labels: 💡 Feature, 🎨 Frontend

#126 [FE] 내차만들기 에러페이지 처리
  FrontEnd/my-car/src/api.js
  FrontEnd/my-car/src/error/NotFoundPage.js
  FrontEnd/my-car/src/error/ServerErrorPage.js
  FrontEnd/my-car/src/error/asset/autoBg.jpeg
  FrontEnd/my-car/src/error/asset/backgroundImg.jpeg
  FrontEnd/my-car/src/error/asset/whiteLogo.png
  FrontEnd/my-car/src/mycar/Mycar.js
  FrontEnd/my-car/src/mycar/routers/Complete.js
  FrontEnd/my-car/src/mycar/routers/parents/RootColor.js
  FrontEnd/my-car/src/mycar/routers/parents/RootSelectOption.js
  FrontEnd/my-car/src/mycar/routers/parents/RootTrims.js
  FrontEnd/my-car/src/router.js
Labels: 💡 Feature, 🎨 Frontend

#129 [feat] 내차만들기/선택옵션-기본옵션 탭 스타일 변경
  FrontEnd/my-car/src/mycar/components/selectOptionPage/OptionTabs.js
Labels: 🎨 Frontend

#127 [FE]360도 회전 이미지 구현
  FrontEnd/my-car/src/mycar/components/colorPage/RotateImg.js
  FrontEnd/my-car/src/mycar/routers/Color.js
Labels: 💡 Feature, 🎨 Frontend

#131 Fe/feat92 header state
  FrontEnd/my-car/src/Root.js
  FrontEnd/my-car/src/common/Alert.js
  FrontEnd/my-car/src/common/Header.js
  FrontEnd/my-car/src/constant.js
  FrontEnd/my-car/src/main/Main.js
  FrontEnd/my-car/src/mycar/routers/Complete.js
  FrontEnd/my-car/src/mycar/routers/Model.js
Labels: 💡 Feature, 🎨 Frontend

#135 [FE] 견적요약모달 스크롤바 제거 및 딤 블러 세기 증가
  FrontEnd/my-car/src/mycar/components/common/SummaryModal.js
  FrontEnd/my-car/src/mycar/components/selectOptionPage/DetailExplainCard.js
  FrontEnd/my-car/src/mycar/routers/Color.js
Labels: 🌟 Enhancement, 🎨 Frontend

#136 [FE]완성페이지 setState오류 해결
  FrontEnd/my-car/src/Root.js
  FrontEnd/my-car/src/common/Header.js
  FrontEnd/my-car/src/main/Main.js
  FrontEnd/my-car/src/mycar/components/completePage/CompletedFunction.js
  FrontEnd/my-car/src/mycar/routers/Complete.js
  FrontEnd/my-car/src/mycar/routers/Model.js
Labels: 🎨 Frontend, ⚒️ Refactor, fixed

#138 [FE]색상 페이지 오류 해결
  FrontEnd/my-car/src/mycar/components/common/TrimImg.js
  FrontEnd/my-car/src/mycar/routers/Color.js
Labels: 🎨 Frontend, fixed

#142 [FE] 내차만들기/모델선택 페이지 추가 구성
  FrontEnd/my-car/src/constant.js
  FrontEnd/my-car/src/mycar/components/trimPage/TrimModelImg.js
  FrontEnd/my-car/src/mycar/routers/Model.js
Labels: 🌟 Enhancement, 🎨 Frontend

#140 Fe/feat139 refactor
  FrontEnd/my-car/src/assets/archivingLogo.svg
  FrontEnd/my-car/src/assets/calligraphyLogo1.svg
  FrontEnd/my-car/src/assets/calligraphyLogo2.svg
  FrontEnd/my-car/src/assets/calligraphyLogo3.svg
  FrontEnd/my-car/src/assets/exclusiveLogo1.svg
  FrontEnd/my-car/src/assets/exclusiveLogo2.svg
  FrontEnd/my-car/src/assets/exclusiveLogo3.svg
  FrontEnd/my-car/src/assets/hyundaiLogo.svg
  FrontEnd/my-car/src/assets/leblancLogo1.svg
  FrontEnd/my-car/src/assets/leblancLogo2.svg
  FrontEnd/my-car/src/assets/leblancLogo3.svg
  FrontEnd/my-car/src/assets/leftDivisionBar.svg
  FrontEnd/my-car/src/assets/prestigeLogo1.svg
  FrontEnd/my-car/src/assets/prestigeLogo2.svg
  FrontEnd/my-car/src/assets/prestigeLogo3.svg
  FrontEnd/my-car/src/assets/rightDivisionBar.svg
  FrontEnd/my-car/src/common/Header.js
  FrontEnd/my-car/src/constant.js
  FrontEnd/my-car/src/mycar/components/common/TitlePriceTag.js
  FrontEnd/my-car/src/mycar/components/common/TrimImg.js
  FrontEnd/my-car/src/mycar/components/trimPage/TrimCard.js
  FrontEnd/my-car/src/mycar/routers/Engine.js
  FrontEnd/my-car/src/mycar/routers/Model.js
Labels: 🚨 Bug, 🎨 Frontend, ⚒️ Refactor

#148 [FE] chiving header
  FrontEnd/my-car/src/archiving/RootArchiving.js
  FrontEnd/my-car/src/archiving/router/ArchivingDetail.js
  FrontEnd/my-car/src/assets/archivingLogoBlack.svg
  FrontEnd/my-car/src/assets/carLogo.svg
  FrontEnd/my-car/src/assets/leftArrow.svg
  FrontEnd/my-car/src/common/ChivingHeader.js
Labels: 💡 Feature, 🎨 Frontend

#149 [FE] 아카이빙/메인 레이아웃 구성
  FrontEnd/my-car/src/archiving/components/OptReviewCard.js
  FrontEnd/my-car/src/archiving/components/OptReviewHeader.js
  FrontEnd/my-car/src/archiving/components/OptSelectionBar.js
  FrontEnd/my-car/src/archiving/router/Archiving.js
  FrontEnd/my-car/src/common/Tag.js
  FrontEnd/my-car/src/mycar/components/common/TitlePriceTag.js
  FrontEnd/my-car/src/router.js
Labels: 💡 Feature, 🎨 Frontend

#150 [FE] detail banner
  FrontEnd/my-car/src/archiving/RootArchiving.js
  FrontEnd/my-car/src/archiving/components/DetailBanner.js
  FrontEnd/my-car/src/archiving/router/ArchivingDetail.js
  FrontEnd/my-car/src/assets/archivingDetailDivision.svg
  FrontEnd/my-car/src/assets/palisadeImg.png
  FrontEnd/my-car/src/common/ChivingHeader.js
  FrontEnd/my-car/src/mycar/components/completePage/AnimationMovingCar.js
  FrontEnd/my-car/src/mycar/components/completePage/CompleteTopBanner.js
Labels: 💡 Feature, 🎨 Frontend

#151 [FE] additional info
  FrontEnd/my-car/src/archiving/RootArchiving.js
  FrontEnd/my-car/src/archiving/components/AdditionalInfo.js
  FrontEnd/my-car/src/archiving/components/DetailBanner.js
  FrontEnd/my-car/src/archiving/router/ArchivingDetail.js
  FrontEnd/my-car/src/assets/saveLogo.svg
Labels: 💡 Feature, 🎨 Frontend

#152 [FE] 아카이빙/메인 리뷰카드 hover 스타일
  FrontEnd/my-car/src/archiving/components/OptReviewCard.js
Labels: 🎨 Frontend

#153 [FE] 아카이빙/메인 클릭이벤트 및 context 설정
  FrontEnd/my-car/src/archiving/components/OptReviewCard.js
  FrontEnd/my-car/src/archiving/components/OptReviewHeader.js
  FrontEnd/my-car/src/archiving/components/OptSelectionBar.js
  FrontEnd/my-car/src/archiving/router/Archiving.js
  FrontEnd/my-car/src/constant.js
  FrontEnd/my-car/src/context/archiving/ArchivingProvider.js
Labels: 💡 Feature, 🎨 Frontend

#156 [FE] option card
  FrontEnd/my-car/src/archiving/components/AdditionalInfo.js
  FrontEnd/my-car/src/archiving/components/DetailBanner.js
  FrontEnd/my-car/src/archiving/components/optDetailCard.js
  FrontEnd/my-car/src/archiving/router/ArchivingDetail.js
  FrontEnd/my-car/src/assets/optionCardDivision.svg
  FrontEnd/my-car/src/common/ChivingHeader.js
Labels: 💡 Feature, 🎨 Frontend

#157 [feat] 카이빙 헤더 상태 관리
  FrontEnd/my-car/src/Root.js
  FrontEnd/my-car/src/archiving/RootArchiving.js
  FrontEnd/my-car/src/common/Alert.js
  FrontEnd/my-car/src/common/ChivingHeader.js
  FrontEnd/my-car/src/common/Header.js
Labels: 💡 Feature, 🎨 Frontend

#158 Be/feat154 마이카이빙 기본 API 구현
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/api/CarController.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/api/CarControllerDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/application/CarService.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/application/CarServiceDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/dto/CarExtraOptionNameDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/dto/CarMapper.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/dto/CarReviewOverviewListDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/dto/CarReviewOverviewSortedListDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/repository/CarRepository.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/repository/CarRepositoryDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/model/api/ModelControllerDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/model/application/ModelServiceDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/option/extraOption/dto/ExtraOptionForCarReviewDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/option/extraOption/dto/ExtraOptionForCarReviewSortedDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/option/extraOption/dto/ExtraOptionListDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/option/extraOption/dto/ExtraOptionNameDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/option/extraSubOption/dto/SubExtraOptionNameDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/review/carReview/api/CarReviewController.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/review/carReview/api/CarReviewControllerDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/review/carReview/application/CarReviewService.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/review/carReview/application/CarReviewServiceDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/review/carReview/domain/CarReview.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/review/carReview/dto/CarReviewDetailDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/review/carReview/dto/CarReviewDetailSortedDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/review/carReview/dto/CarReviewMapper.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/review/carReview/dto/CarReviewOverviewDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/review/carReview/dto/CarReviewOverviewSortedDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/review/carReview/repository/CarReviewRepository.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/review/carReview/repository/CarReviewRepositoryDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/tag/totalTag/domain/TotalTag.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/tag/totalTag/dto/TotalTagInfoDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/trim/trim/api/TrimControllerDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/trim/trim/application/TrimServiceDefaultImpl.java
Labels: 💡 Feature, ⚙️ Backend

#159 [FE] 360도 이미지 프리로딩
  FrontEnd/my-car/src/mycar/routers/Color.js
Labels: 🚨 Bug, 🌟 Enhancement, 🎨 Frontend

#161 [FE]옵션 카드 호버/선택 시 스타일 변경
  FrontEnd/my-car/src/archiving/components/AdditionalInfo.js
  FrontEnd/my-car/src/archiving/components/optDetailCard.js
  FrontEnd/my-car/src/archiving/router/ArchivingDetail.js
  FrontEnd/my-car/src/assets/optionCardDivision.svg
Labels: 💡 Feature, 🎨 Frontend

#162 [BE] 기본 API 구현 - 반환 결과의 필드 수정
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/dto/CarMapper.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/repository/CarRepositoryDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/review/carReview/dto/CarReviewDetailDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/review/carReview/dto/CarReviewDetailSortedDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/review/carReview/dto/CarReviewMapper.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/review/carReview/dto/CarReviewOverviewDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/review/carReview/dto/CarReviewOverviewSortedDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/review/carReview/repository/CarReviewRepositoryDefaultImpl.java
  BackEnd/FourEver/src/test/java/A4/FourEver/domain/unit/car/application/CarServiceDefaultImplTest.java
Labels: ⚙️ Backend, fixed

#163 [FE] 아카이빙 메인화면 API 연결
  FrontEnd/my-car/src/api.js
  FrontEnd/my-car/src/archiving/components/OptReviewCard.js
  FrontEnd/my-car/src/archiving/components/OptSelectionBar.js
  FrontEnd/my-car/src/archiving/hook/useFetch.js
  FrontEnd/my-car/src/archiving/router/Archiving.js
  FrontEnd/my-car/src/assets/loading.gif
  FrontEnd/my-car/src/constant.js
  FrontEnd/my-car/src/context/archiving/ArchivingProvider.js
  FrontEnd/my-car/src/router.js
Labels: 💡 Feature, 🎨 Frontend

#164 [FE] 아카이빙 상세페이지 API 연결
  FrontEnd/my-car/src/archiving/components/AdditionalInfo.js
  FrontEnd/my-car/src/archiving/components/DetailBanner.js
  FrontEnd/my-car/src/archiving/components/optDetailCard.js
  FrontEnd/my-car/src/archiving/router/ArchivingDetail.js
  FrontEnd/my-car/src/constant.js
  FrontEnd/my-car/src/main/components/Pagination.js
  FrontEnd/my-car/src/mycar/components/trimPage/TrimModelImg.js
  FrontEnd/my-car/src/router.js
Labels: 💡 Feature, 🎨 Frontend

#167 [FE] 아카이빙 메인 context 초기화 문제
  FrontEnd/my-car/src/archiving/RootArchiving.js
  FrontEnd/my-car/src/archiving/router/Archiving.js
  FrontEnd/my-car/src/context/archiving/ArchivingProvider.js
Labels: 🎨 Frontend, fixed

#168 [FE] created_at(서버) 데이터 형식 변경 util 함수 생성 및 적용
  FrontEnd/my-car/src/archiving/components/OptReviewCard.js
  FrontEnd/my-car/src/util/DateFomat.js
Labels: 🌟 Enhancement, 💡 Feature, 🎨 Frontend

#170 [BE] /cars/1/car-review 결과가 정상적이지 못한 버그 수정
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/dto/CarMapper.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/repository/CarRepositoryDefaultImpl.java
Labels: ⚙️ Backend, fixed

#169 [FE] 아카이빙 상세페이지 내 옵션카드 하위항목 구현
  FrontEnd/my-car/src/archiving/components/DetailBanner.js
  FrontEnd/my-car/src/archiving/components/optDetailCard.js
  FrontEnd/my-car/src/assets/optionCardDivision.svg
Labels: 💡 Feature, 🎨 Frontend

#176 [FE] 아카이빙/메인 리뷰카드 active 옵션칩 순서 버그 해결
  FrontEnd/my-car/src/archiving/components/OptReviewCard.js
Labels: 🎨 Frontend, fixed

#178 [BE] SpringBootTest 작동 안하는 에러 해결
  BackEnd/FourEver/build.gradle
Labels: ⚙️ Backend, fixed

#180 [FE] 아카이빙 상세페이지 내 옵션 넘버링
  FrontEnd/my-car/src/archiving/components/DetailBanner.js
  FrontEnd/my-car/src/archiving/components/EachOptCard.js
  FrontEnd/my-car/src/archiving/router/ArchivingDetail.js
  FrontEnd/my-car/src/constant.js
Labels: 💡 Feature, 🎨 Frontend

#181 [FE] 로그인 구현
  .gitignore
  FrontEnd/my-car/src/Root.js
  FrontEnd/my-car/src/api.js
  FrontEnd/my-car/src/archiving/components/Loading.js
  FrontEnd/my-car/src/archiving/hook/useFetch.js
  FrontEnd/my-car/src/archiving/router/Archiving.js
  FrontEnd/my-car/src/common/Header.js
  FrontEnd/my-car/src/context/archiving/ArchivingProvider.js
  FrontEnd/my-car/src/login/AuthCode.js
  FrontEnd/my-car/src/login/Login.js
  FrontEnd/my-car/src/router.js
Labels: 💡 Feature, 🎨 Frontend

#182 [BE] /reviews/1/car-review 응답 결과에 TotalTag List 추가
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/review/carReview/dto/CarReviewDetailDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/review/carReview/dto/CarReviewDetailSortedDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/review/carReview/dto/CarReviewMapper.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/review/carReview/repository/CarReviewRepositoryDefaultImpl.java
Labels: ⚙️ Backend, fixed

#184 [FE] 아카이빙 배너 아래부분 선택옵션-> 차량 총 후기로 변경
  FrontEnd/my-car/src/archiving/components/AdditionalInfo.js
  FrontEnd/my-car/src/archiving/components/DetailBanner.js
  FrontEnd/my-car/src/archiving/components/EachOptCard.js
  FrontEnd/my-car/src/archiving/router/ArchivingDetail.js
  FrontEnd/my-car/src/common/Header.js
  FrontEnd/my-car/src/constant.js
Labels: 💡 Feature, 🎨 Frontend

#185 [BE] 내 차 만들기 통합 테스트 보류
  BackEnd/FourEver/src/test/java/A4/FourEver/domain/integration/IntegrationBaseTest.java
  BackEnd/FourEver/src/test/java/A4/FourEver/domain/integration/car/api/CarControllerDefaultImplTest.java
  BackEnd/FourEver/src/test/java/A4/FourEver/domain/integration/car/application/CarServiceDefaultImplTest.java
  BackEnd/FourEver/src/test/java/A4/FourEver/domain/integration/car/repository/CarRepositoryDefaultImplTest.java
  BackEnd/FourEver/src/test/java/A4/FourEver/domain/integration/model/api/ModelControllerDefaultImplTest.java
  BackEnd/FourEver/src/test/java/A4/FourEver/domain/integration/model/application/ModelServiceDefaultImplTest.java
  BackEnd/FourEver/src/test/java/A4/FourEver/domain/integration/model/repository/ModelRepositoryDefaultImplTest.java
  BackEnd/FourEver/src/test/java/A4/FourEver/domain/integration/trim/api/TrimControllerDefaultImplTest.java
  BackEnd/FourEver/src/test/java/A4/FourEver/domain/integration/trim/application/TrimServiceDefaultImplTest.java
  BackEnd/FourEver/src/test/java/A4/FourEver/domain/integration/trim/repository/TrimRepositoryDefaultImplTest.java
  BackEnd/FourEver/src/test/java/A4/FourEver/domain/unit/car/api/CarControllerDefaultImplTest.java
  BackEnd/FourEver/src/test/java/A4/FourEver/domain/unit/car/application/CarServiceDefaultImplTest.java
  BackEnd/FourEver/src/test/java/A4/FourEver/domain/unit/car/dto/CarMapperTest.java
  BackEnd/FourEver/src/test/java/A4/FourEver/domain/unit/car/repository/CarRepositoryDefaultImplTest.java
  BackEnd/FourEver/src/test/java/A4/FourEver/domain/unit/model/api/ModelControllerDefaultImplTest.java
  BackEnd/FourEver/src/test/java/A4/FourEver/domain/unit/model/application/ModelServiceDefaultImplTest.java
  BackEnd/FourEver/src/test/java/A4/FourEver/domain/unit/model/dto/ModelMapperTest.java
  BackEnd/FourEver/src/test/java/A4/FourEver/domain/unit/model/repository/ModelRepositoryDefaultImplTest.java
  BackEnd/FourEver/src/test/java/A4/FourEver/domain/unit/trim/api/TrimControllerDefaultImplTest.java
  BackEnd/FourEver/src/test/java/A4/FourEver/domain/unit/trim/application/TrimServiceDefaultImplTest.java
  BackEnd/FourEver/src/test/java/A4/FourEver/domain/unit/trim/dto/TrimMapperTest.java
  BackEnd/FourEver/src/test/java/A4/FourEver/domain/unit/trim/repository/TrimRepositoryDefaultImplTest.java
  BackEnd/FourEver/src/test/resources/create.sql
Labels: 💭 Wontfix, ⚙️ Backend, test

#187 [FE] 아카이빙 메인페이지 디자인 수정
  FrontEnd/my-car/src/archiving/components/DetailBanner.js
  FrontEnd/my-car/src/archiving/components/OptReviewCard.js
  FrontEnd/my-car/src/archiving/components/OptReviewHeader.js
  FrontEnd/my-car/src/archiving/components/OptSelectionBar.js
Labels: 💡 Feature, 🎨 Frontend

#188 [FE] 카이빙 헤더 상태
  FrontEnd/my-car/src/archiving/RootArchiving.js
  FrontEnd/my-car/src/archiving/components/OptReviewCard.js
  FrontEnd/my-car/src/common/ChivingHeader.js
Labels: 🌟 Enhancement, 🎨 Frontend

#198 [BE] git 꼬임 이슈
  BackEnd/FourEver/Dockerfile
  BackEnd/FourEver/build.gradle
Labels: 🚨 Bug, ⚙️ Backend, 📦Deployment

#193 [FE] 아카이빙/메인 옵션칩 선택 개수 제한
  FrontEnd/my-car/src/archiving/components/OptSelectionBar.js
  FrontEnd/my-car/src/archiving/components/WarningTooltip.js
  FrontEnd/my-car/src/archiving/router/Archiving.js
  FrontEnd/my-car/src/mycar/routers/Complete.js
Labels: 🌟 Enhancement, 💡 Feature, 🎨 Frontend

#201 [FE] API 구조 변경
  FrontEnd/my-car/src/archiving/components/DetailBanner.js
  FrontEnd/my-car/src/constant.js
Labels: 🎨 Frontend, ⚒️ Refactor

#202 [FE] 아카이빙 상세페이지 내 이미지 변경
  FrontEnd/my-car/src/archiving/components/DetailBanner.js
  FrontEnd/my-car/src/archiving/components/EachOptCard.js
Labels: 🎨 Frontend, ⚒️ Refactor

#204 [FE] 자체 로그인 페이지
  FrontEnd/my-car/package-lock.json
  FrontEnd/my-car/package.json
  FrontEnd/my-car/src/error/ServerErrorPage.js
  FrontEnd/my-car/src/login/Login.js
  FrontEnd/my-car/src/login/assets/hyundaiBlueLogo.png
Labels: 💡 Feature, 🎨 Frontend

#205 [BE] 자체로그인 api 추가
  BackEnd/FourEver/build.gradle
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/user/api/UserController.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/user/api/UserControllerDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/user/application/UserService.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/user/application/UserServiceDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/user/application/auth/JwtProvider.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/user/application/auth/PasswordUtil.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/user/domain/User.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/user/dto/LoginRequestDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/user/dto/LoginResponseDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/user/exception/InvalidLoginException.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/user/exception/InvalidPasswordException.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/user/repository/UserRepository.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/user/repository/UserRepositoryDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/global/Interceptor/LoginInterceptor.java
  BackEnd/FourEver/src/main/java/A4/FourEver/global/Resolver/AuthArgumentResolver.java
  BackEnd/FourEver/src/main/java/A4/FourEver/global/Resolver/AuthorizationExtractor.java
  BackEnd/FourEver/src/main/java/A4/FourEver/global/config/AuthConfig.java
  BackEnd/FourEver/src/main/java/A4/FourEver/global/config/ValidConfig.java
  BackEnd/FourEver/src/main/java/A4/FourEver/global/controlleradvice/ControllerAdvice.java
  BackEnd/FourEver/src/main/java/A4/FourEver/global/exception/InternalServerException.java
Labels: ⚙️ Backend, 🗄️Database

#206 [BE] 마이카이빙, 내 차 만들기 결과 저장, 삭제를 위한 API 구현
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/archiving/api/MyChivingController.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/archiving/api/MyChivingControllerDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/archiving/application/MyChivingService.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/archiving/application/MyChivingServiceDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/archiving/domain/MyChiving.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/archiving/dto/MyChivingRequestDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/archiving/repository/MyChivingRepository.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/archiving/repository/MyChivingRepositoryDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/api/CarController.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/api/CarControllerDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/dto/CarMapper.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/dto/CarReviewOverviewListDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/dto/CarReviewOverviewSortedListDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/repository/CarRepositoryDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/api/CarReviewController.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/api/CarReviewControllerDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/application/CarReviewService.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/application/CarReviewServiceDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/domain/CarReview.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/dto/CarReviewDetailDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/dto/CarReviewDetailSortedDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/dto/CarReviewMapper.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/dto/CarReviewOverviewDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/dto/CarReviewOverviewSortedDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/repository/CarReviewRepository.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/repository/CarReviewRepositoryDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/option/extraOption/dto/ExtraOptionIdsRequestDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/review/carReview/api/CarReviewController.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/review/carReview/application/CarReviewService.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/review/carReview/repository/CarReviewRepository.java
Labels: 💡 Feature, ⚙️ Backend

#207 [FE] 아카이빙 카드 변경
  FrontEnd/my-car/src/archiving/components/OptReviewCard.js
Labels: 🎨 Frontend, ⚒️ Refactor

#208 [FE] 내차만들기 완성페이지 API 연결
  FrontEnd/my-car/src/archiving/router/Archiving.js
  FrontEnd/my-car/src/common/Loading.js
  FrontEnd/my-car/src/login/AuthCode.js
  FrontEnd/my-car/src/mycar/components/common/PageMoveBtns.js
  FrontEnd/my-car/src/mycar/components/completePage/AnimationMovingCar.js
  FrontEnd/my-car/src/mycar/routers/Complete.js
Labels: 💡 Feature, 🎨 Frontend

#210 [feat] 로그아웃 및 자동 로그인
  FrontEnd/my-car/src/login/Login.js
  FrontEnd/my-car/src/main/components/MainHeader.js
Labels: 💡 Feature, 🎨 Frontend

#211 [FE] 내차만들기 360장 이미지 로딩처리
  FrontEnd/my-car/src/mycar/components/colorPage/RotateImg.js
  FrontEnd/my-car/src/mycar/routers/Color.js
Labels: 🌟 Enhancement, 🎨 Frontend

#213 [FE] 최상단 모달 버그 수정 및 스타일 일부 변경
  FrontEnd/my-car/src/common/Alert.js
  FrontEnd/my-car/src/common/Header.js
Labels: 🎨 Frontend, fixed

#216 [feat] 내차만들기 임시저장
  FrontEnd/my-car/src/common/Alert.js
  FrontEnd/my-car/src/context/mycar/UserCarProvider.js
  FrontEnd/my-car/src/mycar/UserCarPostAPI.js
  FrontEnd/my-car/src/mycar/routers/Complete.js
Labels: 💡 Feature, 🎨 Frontend, 🧾 Init

#217 [fix] 로그인 서버 url 변경
  FrontEnd/my-car/src/login/AuthCode.js
  FrontEnd/my-car/src/login/Login.js
Labels: 🎨 Frontend

#218 [FE] 마이카이빙 내가 만든 차량목록 카드
  FrontEnd/my-car/src/assets/removeIcon.svg
  FrontEnd/my-car/src/common/ChivingHeader.js
  FrontEnd/my-car/src/mychiving/Mychiving.js
  FrontEnd/my-car/src/mychiving/RootMychiving.js
  FrontEnd/my-car/src/mychiving/components/CardByMe.js
  FrontEnd/my-car/src/mychiving/router/Mychiving.js
  FrontEnd/my-car/src/mychiving/router/MychivingDetail.js
  FrontEnd/my-car/src/router.js
Labels: 💡 Feature, 🎨 Frontend

#220 [BE] 마이카이빙 상세 페이지 API 추가
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/myChiving/api/MyChivingController.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/myChiving/api/MyChivingControllerDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/myChiving/application/MyChivingService.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/myChiving/application/MyChivingServiceDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/myChiving/dto/MyChivingMapper.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/myChiving/dto/MyChivingSaveDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/myChiving/repository/MyChivingRepository.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/myChiving/repository/MyChivingRepositoryDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/user/api/UserControllerDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/user/repository/UserRepositoryDefaultImpl.java
Labels: 💡 Feature, ⚙️ Backend, fixed

#221 [FE] 내차만들기->아카이빙 디폴트 선택 옵션
  FrontEnd/my-car/src/archiving/RootArchiving.js
  FrontEnd/my-car/src/archiving/components/OptReviewCard.js
  FrontEnd/my-car/src/context/archiving/ArchivingProvider.js
Labels: 🌟 Enhancement, 💡 Feature, 🎨 Frontend

#222 [BE] 2023-08-20 회의로 결정된 요청 사항 반영
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/myChiving/api/MyChivingController.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/myChiving/api/MyChivingControllerDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/myChiving/application/MyChivingService.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/myChiving/application/MyChivingServiceDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/myChiving/dto/MyChivingIdDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/myChiving/dto/MyChivingOverviewDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/myChiving/repository/MyChivingRepository.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/myChiving/repository/MyChivingRepositoryDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/user/repository/UserRepositoryDefaultImpl.java
Labels: 🌟 Enhancement, ⚙️ Backend

#224 [FE] 내차만들기 임시저장 & 완료
  FrontEnd/my-car/src/context/mycar/UserCarProvider.js
  FrontEnd/my-car/src/mycar/UserCarPostAPI.js
  FrontEnd/my-car/src/mycar/routers/Complete.js
Labels: 💡 Feature, 🎨 Frontend

#226 [BE] 마이카이빙, 임시 저장 로직 수정
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/myChiving/application/MyChivingServiceDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/myChiving/dto/MyChivingOverviewSortedDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/myChiving/dto/MyChivingSaveDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/myChiving/repository/MyChivingRepository.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/myChiving/repository/MyChivingRepositoryDefaultImpl.java
Labels: ⚙️ Backend, fixed

#227 [FE] 최상단 헤더 네비 버튼 추가 & 카이빙 헤더 내차만들기 버튼 제거
  FrontEnd/my-car/src/Root.js
  FrontEnd/my-car/src/common/Alert.js
  FrontEnd/my-car/src/common/ChivingHeader.js
  FrontEnd/my-car/src/common/Header.js
  FrontEnd/my-car/src/constant.js
Labels: 🌟 Enhancement, 💡 Feature, 🎨 Frontend

#228 [FE] UserCArPostAPI body field name 변경
  FrontEnd/my-car/src/mycar/UserCarPostAPI.js
Labels: 🎨 Frontend

#229 [BE] 유저의 피드에 특정 구매 혹은 시승 후기 추가 API 구현
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/user/api/UserController.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/user/api/UserControllerDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/user/application/UserService.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/user/application/UserServiceDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/user/repository/UserRepository.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/user/repository/UserRepositoryDefaultImpl.java
Labels: 💡 Feature, ⚙️ Backend

#231 [BE] 특정 리뷰 정보 조회 API에서 즐겨찾기를 하였는지 확인할 수 있도록 변경
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/api/CarReviewController.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/api/CarReviewControllerDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/application/CarReviewService.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/application/CarReviewServiceDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/dto/CarReviewDetailDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/dto/CarReviewDetailSortedDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/dto/CarReviewMapper.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/repository/CarReviewRepository.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/repository/CarReviewRepositoryDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/user/application/UserServiceDefaultImpl.java
Labels: 🌟 Enhancement, 💡 Feature, ⚙️ Backend

#232 [FE] 아카이빙/상세 내 피드(마이카이빙)에 리뷰 저장
  FrontEnd/my-car/src/archiving/components/AdditionalInfo.js
Labels: 💡 Feature, 🎨 Frontend

#233 [FE] 마이카이빙-내가 만든 차량 목록
  FrontEnd/my-car/src/constant.js
  FrontEnd/my-car/src/mycar/components/common/ToolTip.js
  FrontEnd/my-car/src/mychiving/components/CardByMe.js
  FrontEnd/my-car/src/mychiving/components/DeleteAlert.js
  FrontEnd/my-car/src/mychiving/components/OptDetailModal.js
  FrontEnd/my-car/src/mychiving/hook/useDelete.js
  FrontEnd/my-car/src/mychiving/router/Mychiving.js
  FrontEnd/my-car/src/router.js
Labels: 💡 Feature, 🎨 Frontend

#234 [FE] 선택옵션 예외처리
  FrontEnd/my-car/src/mychiving/components/OptDetailModal.js
  FrontEnd/my-car/src/mychiving/router/Mychiving.js
Labels: 💡 Feature, 🎨 Frontend

#236 [FE] 아카이빙 옵션바&필터탭 헤더 스타일 변경
  FrontEnd/my-car/src/archiving/components/OptReviewHeader.js
  FrontEnd/my-car/src/archiving/components/OptSelectionBar.js
  FrontEnd/my-car/src/archiving/router/Archiving.js
  FrontEnd/my-car/src/common/ChivingHeader.js
  FrontEnd/my-car/src/common/Loading.js
Labels: 🌟 Enhancement, 🎨 Frontend

#237 [FE] 카이빙 스타일 수정
  FrontEnd/my-car/src/archiving/components/OptSelectionBar.js
  FrontEnd/my-car/src/archiving/components/WarningTooltip.js
  FrontEnd/my-car/src/archiving/router/ArchivingDetail.js
  FrontEnd/my-car/src/common/ChivingHeader.js
  FrontEnd/my-car/src/mychiving/router/Mychiving.js
Labels: 🎨 Frontend

#238 [FE] 마이카이빙 뷰
  FrontEnd/my-car/src/mychiving/components/CardByArchiving.js
  FrontEnd/my-car/src/mychiving/router/Mychiving.js
Labels: 💡 Feature, 🎨 Frontend

#240 [BE] 기존의 데이터를 이용한 내 차 만들기 API 추가
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/api/CarReviewController.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/api/CarReviewControllerDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/application/CarReviewService.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/application/CarReviewServiceDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/dto/CarReviewIdDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/dto/CarReviewMapper.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/dto/CarReviewResultDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/dto/CarReviewResultSortedDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/repository/CarReviewRepository.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/repository/CarReviewRepositoryDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/color/exColor/dto/ExColorIdDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/color/inColor/dto/InColorIdDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/myChiving/dto/MyChivingOverviewDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/option/extraOption/dto/ExtraOptionNameAndImageDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/user/repository/UserRepositoryDefaultImpl.java
Labels: 💡 Feature, ⚙️ Backend, fixed

#241 [FE] 아카이빙/온보딩 모달
  FrontEnd/my-car/src/archiving/components/Onboarding.js
  FrontEnd/my-car/src/archiving/router/Archiving.js
  FrontEnd/my-car/src/assets/archivingLogo.png
  FrontEnd/my-car/src/assets/onboardingImg.png
  FrontEnd/my-car/src/common/Alert.js
Labels: 💡 Feature, 🎨 Frontend

#242 [BE] 온보딩 API 개발 완료
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/api/CarReviewController.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/api/CarReviewControllerDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/dto/CarReviewOnBoardingDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/dto/CarReviewSimpleDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/user/dto/LoginRequestDTO.java
Labels: 💡 Feature, ⚙️ Backend

#244 [BE] 너무 많은 결과를 한번에 반환하기에 AWS가 뻗어버리는 현상 해결
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/dto/CarReviewMapper.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/dto/CarReviewResultSortedDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/repository/CarReviewRepositoryDefaultImpl.java
Labels: ⚙️ Backend, fixed

#245 [FE] 아카이빙/이 차량으로 내차만들기
  FrontEnd/my-car/src/archiving/components/AdditionalInfo.js
  FrontEnd/my-car/src/archiving/components/DetailBanner.js
  FrontEnd/my-car/src/context/archiving/ArchivingProvider.js
  FrontEnd/my-car/src/context/mycar/UserCarProvider.js
  FrontEnd/my-car/src/mycar/Mycar.js
Labels: 💡 Feature, 🎨 Frontend

#246 [FE] 마이카이빙 카드 클릭에 따른 페이지 이동
  FrontEnd/my-car/src/api.js
  FrontEnd/my-car/src/archiving/components/AdditionalInfo.js
  FrontEnd/my-car/src/archiving/components/DetailBanner.js
  FrontEnd/my-car/src/archiving/components/EachOptCard.js
  FrontEnd/my-car/src/archiving/router/ArchivingDetail.js
  FrontEnd/my-car/src/constant.js
  FrontEnd/my-car/src/mychiving/components/CardByArchiving.js
  FrontEnd/my-car/src/mychiving/components/CardByMe.js
  FrontEnd/my-car/src/mychiving/components/DeleteAlert.js
  FrontEnd/my-car/src/mychiving/components/OptDetailModal.js
  FrontEnd/my-car/src/mychiving/router/Mychiving.js
  FrontEnd/my-car/src/mychiving/router/MychivingDetail.js
  FrontEnd/my-car/src/router.js
Labels: 💡 Feature, 🎨 Frontend

#249 [FE] 아카이빙/온보딩 API 연결
  FrontEnd/my-car/src/api.js
  FrontEnd/my-car/src/archiving/components/Onboarding.js
  FrontEnd/my-car/src/archiving/router/Archiving.js
  FrontEnd/my-car/src/constant.js
  FrontEnd/my-car/src/router.js
Labels: 🎨 Frontend

#253 [FE] 마이카이빙-내차만들기 이동
  FrontEnd/my-car/src/archiving/components/AdditionalInfo.js
  FrontEnd/my-car/src/context/mycar/UserCarProvider.js
  FrontEnd/my-car/src/mycar/Mycar.js
  FrontEnd/my-car/src/mychiving/components/CardByMe.js
  FrontEnd/my-car/src/mychiving/components/OptDetailModal.js
Labels: 💡 Feature, 🎨 Frontend

#258 [BE] 임시 저장 데이터를 이용한 내 차 만들기 시작 프로세스 에러 해결
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/repository/CarReviewRepositoryDefaultImpl.java
Labels: ⚙️ Backend, fixed

#262 [fix] 마이카이빙-내차만들기 삭제 관련 오류 해결
  FrontEnd/my-car/src/mycar/UserCarPostAPI.js
  FrontEnd/my-car/src/mychiving/hook/useDelete.js
Labels: 🎨 Frontend, fixed

#263 [BE] 구매 후기 도메인 예외 처리 추가
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/api/CarReviewControllerDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/application/CarReviewServiceDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/dto/CarReviewDetailDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/dto/CarReviewMapper.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/exception/CarReviewDetailNotFoundException.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/exception/CarReviewResultNotFoundException.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/repository/CarReviewRepositoryDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/dto/response/TrimResponse.java
Labels: 💭 Wontfix, ⚙️ Backend, test

#264 [FE] 내차만들기 디자인 리팩토링
  FrontEnd/my-car/src/archiving/components/OptReviewCard.js
  FrontEnd/my-car/src/common/Header.js
  FrontEnd/my-car/src/mycar/components/common/Footer.js
  FrontEnd/my-car/src/mycar/components/common/ImgSelect.js
  FrontEnd/my-car/src/mycar/components/common/TrimImg.js
  FrontEnd/my-car/src/mycar/components/completePage/AnimationMovingCar.js
  FrontEnd/my-car/src/mycar/components/completePage/CompleteTopBanner.js
  FrontEnd/my-car/src/mycar/components/completePage/CompletedFunction.js
  FrontEnd/my-car/src/mycar/components/completePage/FunctionBanner.js
  FrontEnd/my-car/src/mycar/components/selectOptionPage/OptionImage.js
  FrontEnd/my-car/src/mycar/components/trimPage/TrimModelImg.js
  FrontEnd/my-car/src/mychiving/components/CardByMe.js
  FrontEnd/my-car/src/mychiving/router/Mychiving.js
Labels: 🎨 Frontend, ⚒️ Refactor

#267 [BE] 내 차 만들기 임시저장의 경우 선택되지 않은 필드에 기본값이 아닌 null을 넣는 방식으로 수정
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/myChiving/repository/MyChivingRepositoryDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/user/repository/UserRepositoryDefaultImpl.java
Labels: ⚙️ Backend, fixed

#268 [FE] 최상단 헤더 네비버튼 로직 버그 수정
  FrontEnd/my-car/src/Root.js
  FrontEnd/my-car/src/common/Alert.js
  FrontEnd/my-car/src/common/Header.js
Labels: 🎨 Frontend, fixed

#269 [FE] 마이카이빙 버그 수정 및 내차만들기 이동 셋팅 변경
  FrontEnd/my-car/src/context/mycar/UserCarProvider.js
  FrontEnd/my-car/src/mychiving/hook/useDelete.js
Labels: 🎨 Frontend, fixed

#271 [BE] 임시 저장 데이터를 이용한 내 차 만들기 에러 해결
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/dto/CarReviewOnBoardingDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/repository/CarReviewRepositoryDefaultImpl.java
Labels: ⚙️ Backend, fixed

#272 [FE] 아카이빙 데이터 만료시간 설정
  FrontEnd/my-car/src/archiving/hook/useFetch.js
  FrontEnd/my-car/src/context/archiving/ArchivingProvider.js
Labels: 🌟 Enhancement, 💡 Feature, 🎨 Frontend

#273 [FE] 360 이미지 png->webp 로 변경
  FrontEnd/my-car/src/mycar/components/colorPage/RotateImg.js
  FrontEnd/my-car/src/mycar/routers/Color.js
Labels: 🌟 Enhancement, 🎨 Frontend

#280 [BE] 기존 데이터를 이용한 내 차 만들기 API 에러 해결
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/repository/CarReviewRepositoryDefaultImpl.java
Labels: ⚙️ Backend, fixed

#281 [FE] 마이카이빙 리메이크
  FrontEnd/my-car/src/archiving/components/OptReviewCard.js
  FrontEnd/my-car/src/mychiving/components/CardByArchiving.js
  FrontEnd/my-car/src/mychiving/components/MyCardOrigin.js
  FrontEnd/my-car/src/mychiving/router/Mychiving.js
Labels: 💡 Feature, 🎨 Frontend, ⚒️ Refactor

#283 [BE] 유저, 차량, 트림 도메인에 커스텀 예외 추가 및 처리
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/api/CarControllerDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/application/CarService.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/application/CarServiceDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/exception/CarReviewListNotFoundException.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/repository/CarRepository.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/repository/CarRepositoryDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/application/CarReviewServiceDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/dto/CarReviewIdDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/myChiving/dto/MyChivingSaveDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/option/extraOption/dto/ExtraOptionIdsRequestDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/user/exception/DuplicateUserCarReviewException.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/user/repository/UserRepositoryDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/global/controlleradvice/ControllerAdvice.java
  BackEnd/FourEver/src/main/java/A4/FourEver/global/controlleradvice/responseDto/ErrorResponse.java
  BackEnd/FourEver/src/main/java/A4/FourEver/global/exception/DuplicateDataException.java
Labels: 💡 Feature, ⚙️ Backend

#284 [fix] 전체적인 버그 수정
  FrontEnd/my-car/src/api.js
  FrontEnd/my-car/src/archiving/components/OptReviewCard.js
  FrontEnd/my-car/src/archiving/components/OptSelectionBar.js
  FrontEnd/my-car/src/archiving/hook/useFetch.js
  FrontEnd/my-car/src/archiving/router/Archiving.js
  FrontEnd/my-car/src/common/Alert.js
  FrontEnd/my-car/src/context/archiving/ArchivingProvider.js
  FrontEnd/my-car/src/context/mycar/color/ColorPrivider.js
  FrontEnd/my-car/src/mycar/UserCarPostAPI.js
  FrontEnd/my-car/src/mycar/routers/Color.js
  FrontEnd/my-car/src/mychiving/components/OptDetailModal.js
  FrontEnd/my-car/src/mychiving/hook/useDelete.js
  FrontEnd/my-car/src/mychiving/router/Mychiving.js
Labels: 🎨 Frontend, fixed

#285 [style] 전체적인 스타일 리팩토링
  FrontEnd/my-car/src/Root.js
  FrontEnd/my-car/src/archiving/router/Archiving.js
  FrontEnd/my-car/src/common/ChivingHeader.js
  FrontEnd/my-car/src/common/Header.js
  FrontEnd/my-car/src/common/ScrollToTop.js
  FrontEnd/my-car/src/mycar/components/colorPage/RotateImg.js
  FrontEnd/my-car/src/mycar/components/common/Footer.js
  FrontEnd/my-car/src/mycar/components/common/SummaryModal.js
  FrontEnd/my-car/src/mycar/components/selectOptionPage/DetailExplainCard.js
  FrontEnd/my-car/src/mycar/components/selectOptionPage/OptionTabs.js
  FrontEnd/my-car/src/mycar/components/trimPage/TrimCard.js
  FrontEnd/my-car/src/mychiving/components/CardByArchiving.js
  FrontEnd/my-car/src/mychiving/components/MyCardOrigin.js
  FrontEnd/my-car/src/mychiving/router/Mychiving.js
  FrontEnd/my-car/src/style/globalStyle.js
Labels: 🎨 Frontend, ⚒️ Refactor

#288 [BE] 쿼리 최적화
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/repository/CarRepositoryDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/repository/CarReviewRepositoryDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/model/repository/ModelRepositoryDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/global/config/AuthConfig.java
Labels: 🌟 Enhancement, ⚙️ Backend

#290 [BE] 옵션 및 색상 태그 결과 제한
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/dto/CarMapper.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/dto/CarReviewMapper.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/model/dto/ModelMapper.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/myChiving/dto/MyChivingMapper.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/trim/trim/dto/TrimMapper.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/user/dto/UserMapper.java
  BackEnd/FourEver/src/main/java/A4/FourEver/global/config/AuthConfig.java
Labels: 💡 Feature, ⚙️ Backend

#292 [BE] 각 클래스에서 컨벤션에 따른 수정
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/api/CarController.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/application/CarService.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/application/CarServiceDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/repository/CarRepository.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/repository/CarRepositoryDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/api/CarReviewController.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/application/CarReviewService.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/application/CarReviewServiceDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/repository/CarReviewRepository.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/model/application/ModelServiceDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/model/repository/ModelRepository.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/myChiving/api/MyChivingController.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/myChiving/application/MyChivingService.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/myChiving/application/MyChivingServiceDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/myChiving/repository/MyChivingRepository.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/myChiving/repository/MyChivingRepositoryDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/trim/trim/application/TrimServiceDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/trim/trim/repository/TrimRepository.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/user/api/UserController.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/user/api/UserControllerDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/user/application/UserService.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/user/application/UserServiceDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/user/application/auth/AuthService.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/user/application/auth/AuthServiceDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/user/application/auth/JwtProvider.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/user/application/auth/PasswordUtil.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/user/repository/UserRepository.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/user/repository/UserRepositoryDefaultImpl.java
Labels: ⚙️ Backend, fixed

#293 [BE] CarRepositoryDefaultImpl 에서 DB 인덱싱에 앞서 쿼리 수정
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/repository/CarRepositoryDefaultImpl.java
Labels: ⚙️ Backend, fixed

#295 [BE] CORS 개선
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/dto/CarReviewOnBoardingDTO.java
  BackEnd/FourEver/src/main/java/A4/FourEver/global/Interceptor/LoginInterceptor.java
  BackEnd/FourEver/src/main/java/A4/FourEver/global/config/AuthConfig.java
  BackEnd/FourEver/src/main/java/A4/FourEver/global/config/WebMvcConfig.java
Labels: 🌟 Enhancement, ⚙️ Backend

#297 [BE] CORS 에러 수정
  BackEnd/FourEver/src/main/java/A4/FourEver/global/Interceptor/LoginInterceptor.java
  BackEnd/FourEver/src/main/java/A4/FourEver/global/config/WebMvcConfig.java
Labels: 🌟 Enhancement, ⚙️ Backend

#298 [BE] 로그인 안되는 버그 핫픽스
  BackEnd/FourEver/src/main/java/A4/FourEver/global/config/WebMvcConfig.java
Labels: 🚨 Bug, ⚙️ Backend, fixed

#299 [FE] 아카이빙 수정
  FrontEnd/my-car/src/archiving/components/OptSelectionBar.js
Labels: 🎨 Frontend, fixed

#300 [fix] 아카이빙 선택바 스타일 수정
  FrontEnd/my-car/src/archiving/components/OptSelectionBar.js
Labels: 🎨 Frontend, fixed

#301 [FE] 로그아웃 시 관련 버그 수정
  FrontEnd/my-car/src/api.js
  FrontEnd/my-car/src/main/Main.js
  FrontEnd/my-car/src/main/components/MainHeader.js
  FrontEnd/my-car/src/mychiving/router/Mychiving.js
Labels: 🎨 Frontend, fixed

#302 [FE] 마이카이빙 스크롤 막힘문제 해결
  FrontEnd/my-car/src/mychiving/components/DeleteAlert.js
  FrontEnd/my-car/src/mychiving/components/OptDetailModal.js
Labels: 🎨 Frontend, fixed

#303 [BE] API의 의미를 담을 수 있도록 각 URL 수정
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/car/api/CarControllerDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/carReview/api/CarReviewControllerDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/model/api/ModelControllerDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/myChiving/api/MyChivingControllerDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/trim/trim/api/TrimControllerDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/domain/user/api/UserControllerDefaultImpl.java
  BackEnd/FourEver/src/main/java/A4/FourEver/global/Interceptor/LoginInterceptor.java
  BackEnd/FourEver/src/main/java/A4/FourEver/global/config/WebMvcConfig.java
  BackEnd/FourEver/src/test/java/A4/FourEver/domain/integration/car/api/CarControllerDefaultImplTest.java
  BackEnd/FourEver/src/test/java/A4/FourEver/domain/integration/car/application/CarServiceDefaultImplTest.java
  BackEnd/FourEver/src/test/java/A4/FourEver/domain/integration/car/repository/CarRepositoryDefaultImplTest.java
  BackEnd/FourEver/src/test/java/A4/FourEver/domain/integration/model/api/ModelControllerDefaultImplTest.java
  BackEnd/FourEver/src/test/java/A4/FourEver/domain/integration/model/application/ModelServiceDefaultImplTest.java
  BackEnd/FourEver/src/test/java/A4/FourEver/domain/integration/model/repository/ModelRepositoryDefaultImplTest.java
  BackEnd/FourEver/src/test/java/A4/FourEver/domain/integration/trim/api/TrimControllerDefaultImplTest.java
  BackEnd/FourEver/src/test/java/A4/FourEver/domain/integration/trim/application/TrimServiceDefaultImplTest.java
  BackEnd/FourEver/src/test/java/A4/FourEver/domain/integration/trim/repository/TrimRepositoryDefaultImplTest.java
Labels: ⚙️ Backend, fixed

#304 [FE] API URL 변경
  FrontEnd/my-car/src/api.js
  FrontEnd/my-car/src/archiving/components/AdditionalInfo.js
  FrontEnd/my-car/src/archiving/components/DetailBanner.js
  FrontEnd/my-car/src/archiving/components/Onboarding.js
  FrontEnd/my-car/src/archiving/hook/useFetch.js
  FrontEnd/my-car/src/assets/archivingLogo.svg
  FrontEnd/my-car/src/common/Header.js
  FrontEnd/my-car/src/constant.js
  FrontEnd/my-car/src/login/AuthCode.js
  FrontEnd/my-car/src/login/Login.js
  FrontEnd/my-car/src/main/Main.js
  FrontEnd/my-car/src/mycar/UserCarPostAPI.js
  FrontEnd/my-car/src/mycar/components/colorPage/RotateImg.js
  FrontEnd/my-car/src/mycar/components/common/Footer.js
  FrontEnd/my-car/src/mycar/components/common/SummaryModal.js
  FrontEnd/my-car/src/mycar/components/completePage/SelectedOption.js
  FrontEnd/my-car/src/mycar/components/trimPage/TrimCard.js
  FrontEnd/my-car/src/mychiving/components/DeleteAlert.js
  FrontEnd/my-car/src/mychiving/components/MyCardOrigin.js
  FrontEnd/my-car/src/mychiving/components/OptDetailModal.js
  FrontEnd/my-car/src/mychiving/router/Mychiving.js
  FrontEnd/my-car/src/mychiving/router/MychivingDetail.js
  FrontEnd/my-car/src/router.js
Labels: 🎨 Frontend

#305 [FE] 마이카이빙 딤 위치 버그 해결 및 map key 설정 및 svg 오류 수정
  FrontEnd/my-car/src/api.js
  FrontEnd/my-car/src/archiving/components/AdditionalInfo.js
  FrontEnd/my-car/src/archiving/components/DetailBanner.js
  FrontEnd/my-car/src/archiving/components/EachOptCard.js
  FrontEnd/my-car/src/archiving/components/Onboarding.js
  FrontEnd/my-car/src/archiving/components/OptReviewCard.js
  FrontEnd/my-car/src/archiving/router/ArchivingDetail.js
  FrontEnd/my-car/src/assets/archivingLogoBlack.svg
  FrontEnd/my-car/src/assets/carLogo.svg
  FrontEnd/my-car/src/assets/leftArrow.svg
  FrontEnd/my-car/src/assets/removeIcon.svg
  FrontEnd/my-car/src/assets/saveLogo.svg
  FrontEnd/my-car/src/login/Login.js
  FrontEnd/my-car/src/mycar/UserCarPostAPI.js
  FrontEnd/my-car/src/mychiving/components/OptDetailModal.js
  FrontEnd/my-car/src/mychiving/router/Mychiving.js
  public/images/ic-calligraphy-1.svg
  public/images/ic-exclusive-1.svg
Labels: 🎨 Frontend, fixed

#307 [BE] URL 수정으로 인해 발생하는 intercepter 설정으로 인한 에러 해결
  BackEnd/FourEver/src/main/java/A4/FourEver/global/config/AuthConfig.java
Labels: ⚙️ Backend, fixed

#308 [FE] 내차만들기 임시저장 버그 해결
  FrontEnd/my-car/src/common/Alert.js
  FrontEnd/my-car/src/mycar/UserCarPostAPI.js
Labels: 🎨 Frontend, fixed

#309 [FE] 360 프리로딩 딜레이 수정
  FrontEnd/my-car/src/mycar/routers/Engine.js
Labels: 🌟 Enhancement

#310 [FE] 마이카이빙 배너 수정
  FrontEnd/my-car/src/archiving/components/DetailBanner.js
  FrontEnd/my-car/src/mychiving/components/OptDetailModal.js
Labels: 🎨 Frontend, fixed
